flows/assign_quip_document.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>give_access</name>
        <label>give access</label>
        <locationX>599</locationX>
        <locationY>137</locationY>
        <actionName>addUsersToQuipDocument</actionName>
        <actionType>addUsersToQuipDocument</actionType>
        <connector>
            <targetReference>quipinterviewquestions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>memberEmails</name>
            <value>
                <elementReference>$Record.Interviewer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentUrl</name>
            <value>
                <elementReference>quipdocument</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>quipinterviewquestions</name>
        <label>Quip Interview Questions</label>
        <locationX>830</locationX>
        <locationY>360</locationY>
        <actionName>attachQuipDocumentToRecord</actionName>
        <actionType>attachQuipDocumentToRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentUrl</name>
            <value>
                <elementReference>quipdocument</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>assign quip document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>assign quip document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>give_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interviewer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Interview_Debriefing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>quipdocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.quipurl</elementReference>
        </value>
    </variables>
</Flow>
