flows/Convert_candidate_into_employee.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Convert candidate into employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert candidate into employee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_employee</name>
        <label>create employee</label>
        <locationX>233</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>employeeid.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_City__c</field>
            <value>
                <elementReference>$Record.Candidate__r.Current_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Candidate__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntryDate__c</field>
            <value>
                <elementReference>$Record.Onboarding_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>$Record.Candidate__r.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Candidate__r.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>$Record.Job_Position__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>$Record.Candidate__r.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <stringValue>Indian</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalPhone__c</field>
            <value>
                <elementReference>$Record.Candidate__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>	 0121i0000009KIrAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YearsOfExperience__c</field>
            <value>
                <elementReference>$Record.Candidate__r.Profession__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordCreates>
    <recordDeletes>
        <name>delete_candidate</name>
        <label>delete candidate</label>
        <locationX>980</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>candidateid</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_job_application</name>
        <label>delete job application</label>
        <locationX>624</locationX>
        <locationY>234</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <object>Job_Application__c</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>create_employee</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </filters>
        <object>Job_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>delete_job_application_and_candidate</name>
            <connector>
                <targetReference>delete_job_application</targetReference>
            </connector>
            <label>delete job application and candidate</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailid</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Candidate__r.First_Name__c}.{!$Record.Candidate__r.Last_Name__c}@springfive.com</text>
    </textTemplates>
    <variables>
        <name>candidateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Candidate__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>employeeid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
</Flow>
